<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <title>Portfolio</title>
</head>
<body>
    <div class="frame">
        <div class="main_frame">
            <div class="left_frame">
                <div class="left_1">
                    <div class="left_1-1">
                        <img src="images/profile.png" width="156px" height="142px" alt="profile picture">
                    </div>
                    <div class="left_1-2">
                        <%=user.name%>
                    </div>
                    <div class="left_1-3">
                        <%=user.profession%>
                    </div>
                   <div class="left-icons">
                        <a class="link_href" href=""><div class="icon"><img src="icons/Vector-1.svg" class="icon-1" /></div></a>

                        <a class="link_href" href=""><div class="icon"><img src="icons/Vector-2.svg" class="icon-1" /></div></a>

                        <a class="link_href" href=""><div class="icon"><img src="icons/Vector-3.svg" class="icon-1" /></div></a>

                        <a class="link_href" href=""><div class="icon"><img src="icons/Vector-4.svg" class="icon-1" /></div></a>

                        <a class="link_href" href=""><div class="icon"><img src="icons/Vector-5.svg" class="icon-1" /></div></a>
                        
                        <a class="link_href" href=""><div class="icon"><img src="icons/Vector-6.svg" class="icon-1" /></div></a>
                    </div>
                
                </div>
                <div class="marginer"></div>
                    <div class="left_2 info_box">
                        <div class="info_row">
                            <span class="info_label">Age:</span>
                            <span class="info_value"><%= user.age %></span>
                        </div>

                        <div class="info_row">
                            <span class="info_label">Residence:</span>
                            <span class="info_value"><%= user.residence %></span>
                        </div>

                        <div class="info_row">
                            <span class="info_label">Freelance:</span>
                            <span class="info_value info_green">Available</span>
                        </div>

                        <div class="info_row">
                            <span class="info_label">Address:</span>
                            <span class="info_value"><%= user.adress %></span>
                        </div>
                </div>                
                <div class="marginer"></div>
                <div class="left_3 language_box">
                    <div class="lang_title">Languages</div>

                    <div class="lang_item">
                        <div class="lang_top">
                            <span>Uzbek</span>
                            <span>100%</span>
                        </div>
                        <div class="lang_bar">
                            <div class="lang_fill" style="width:100%"></div>
                        </div>
                    </div>

                    <div class="lang_item">
                        <div class="lang_top">
                            <span>English</span>
                            <span>80%</span>
                        </div>
                        <div class="lang_bar">
                            <div class="lang_fill" style="width:80%"></div>
                        </div>
                    </div>

                    <div class="lang_item">
                        <div class="lang_top">
                            <span>Russian</span>
                            <span>60%</span>
                        </div>
                        <div class="lang_bar">
                            <div class="lang_fill" style="width:60%"></div>
                        </div>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_4 skills_box">
                    <div class="skills_title">Skills</div>

                    <div class="skill_item">
                        <div class="skill_top">
                            <span>Html</span>
                            <span>90%</span>
                        </div>
                        <div class="skill_bar">
                            <div class="skill_fill" style="width:90%"></div>
                        </div>
                    </div>

                    <div class="skill_item">
                        <div class="skill_top">
                            <span>CSS</span>
                            <span>85%</span>
                        </div>
                        <div class="skill_bar">
                            <div class="skill_fill" style="width:85%"></div>
                        </div>
                    </div>

                    <div class="skill_item">
                        <div class="skill_top">
                            <span>Js</span>
                            <span>80%</span>
                        </div>
                        <div class="skill_bar">
                            <div class="skill_fill" style="width:80%"></div>
                        </div>
                    </div>

                    <div class="skill_item">
                        <div class="skill_top">
                            <span>PHP</span>
                            <span>75%</span>
                        </div>
                        <div class="skill_bar">
                            <div class="skill_fill" style="width:75%"></div>
                        </div>
                    </div>

                    <div class="skill_item">
                        <div class="skill_top">
                            <span>WordPress</span>
                            <span>85%</span>
                        </div>
                        <div class="skill_bar">
                            <div class="skill_fill" style="width:85%"></div>
                        </div>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_5 extra_box">
                    <div class="extra_title">Extra Skills</div>

                        <ul class="extra_list">
                            <li><span class="extra_icon"></span> Bootstrap, Materialize</li>
                            <li><span class="extra_icon"></span> Stylus, Sass, Less</li>
                            <li><span class="extra_icon"></span> Gulp, Webpack, Grunt</li>
                            <li><span class="extra_icon"></span> GIT Knowledge</li>
                        </ul>
                    </div>

                <div class="marginer"></div>
                <div class="left_6">
                    <a href="#" class="cv_button">
                        DOWNLOAD CV
                        <span class="cv_arrow">⬇</span>
                    </a>
                </div>
            </div>
            <div class="mid_frame">

               <!-- dapadagi rectangular-->
                <div class="hero_box">

                    <div class="hero_left">
                        <h1>
                            Doctor neurologists<br>
                            in OHSU Hospital
                        </h1>

                        <p>
                            Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit.
                            Et, Volutpat Feugiat Placerat Lobortis. Natoque
                            Rutrum Semper Sed Suspendisse Nunc Lectus.
                        </p>

                        <a href="#" class="hire_btn">
                            HIRE ME →
                        </a>
                    </div>

                    <div class="hero_right">
                        <img src="images/bigpicture.png" alt="hero">
                    </div>

                </div>

                           <!-- servicesdagi rectangle -->
                    <div class="services_box">
                        <h2>My Services</h2>
                        <p class="services_desc">
                            Amet Minim Mollit Non Deserunt Ullamco Est Sit Aliqua Dolor
                            Do Amet Sint. Velit Officia Consequat Duis Enim Velit Mollit.
                            Lorem Ipsum
                        </p>

                        <div class="services_grid">
                            <div class="service_card">
                                <div class="service_icon"><img src="menu_icons/web-dev.svg" class="svg-icon"></div>
                                <h3>Web Development</h3>
                                <p>Blog, E-Commerce</p>
                            </div>

                            <div class="service_card">
                                <div class="service_icon"><img src="menu_icons/ui-ux.svg" class="svg-icon"></div>
                                <h3>UI/UX Design</h3>
                                <p>Mobile App, Website Design</p>
                            </div>

                            <div class="service_card">
                                <div class="service_icon"><img src="menu_icons/sound-design.svg" class="svg-icon"></div>
                                <h3>Sound Design</h3>
                                <p>Voice Over, Beat Making</p>
                            </div>

                            <div class="service_card">
                                <div class="service_icon"><img src="menu_icons/game-design.svg" class="svg-icon"></div>
                                <h3>Game Design</h3>
                                <p>Character Design, Props & Objects</p>
                            </div>

                            <div class="service_card">
                                <div class="service_icon"><img src="menu_icons/photography.svg" class="svg-icon"></div>
                                <h3>Photography</h3>
                                <p>Portrait, Product Photography</p>
                            </div>

                            <div class="service_card order_card">
                                <h3>Advertising</h3>
                                <p>
                                    Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit.
                                    Vitae Nulla Diam In Ac Dictum A Urna Viverra Morbi.
                                </p>
                                <a href="#" class="order_link">ORDER NOW ></a>
                            </div>
                        </div>
                </div>
        </div>
        <div class="right_frame">
            <!-- moon icon -->
            <div class="right_moon">
                <img src="btn_icon/moon.svg" alt="moon">
            </div>

            <!-- Right menu -->
            <div class="right_menu">

                <!-- HOME -->
                <div class="right_item active">
                    <div class="tooltip_box">Home</div>
                    <div class="icon_circle">
                        <img src="btn_icon/home.svg" alt="home">
                    </div>
                </div>

                <!-- Other icons -->
                <div class="right_item">
                    <div class="icon_circle">
                        <img src="btn_icon/service.svg" alt="code">
                    </div>
                </div>

                <div class="right_item">
                    <div class="icon_circle">
                        <img src="btn_icon/cv.svg" alt="cv">
                    </div>
                </div>

                <div class="right_item">
                    <div class="icon_circle">
                        <img src="btn_icon/portfolio.svg" alt="portfolio">
                    </div>
                </div>

                <div class="right_item">
                    <div class="icon_circle">
                        <img src="btn_icon/blog.svg" alt="blog">
                    </div>
                </div>

                <div class="right_item">
                    <div class="icon_circle">
                        <img src="btn_icon/contact.svg" alt="contact">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
    
</body>
</html>